<%- layout('boilerplate/boilerplate') -%>

<div class="mt-5 w-50 mx-auto p-3">
  <h1 class="text-center">Form Warga</h1>

  <form action="/user/add" method="post">
    <div class="row mb-3">
      <div class="d-flex flex-column gap-3 mb-3">
        <label for="IDNumber">NIK</label>

        <input
          type="text"
          id="IDNumber"
          name="IDNumber"
          class="form-control"
          autocomplete="off"
          required
          value="<%= editedUser.IDNumber %>"
        />
      </div>

      <div class="d-flex flex-column gap-3">
        <label for="Nama">Nama Kepala Keluarga</label>

        <input
          type="text"
          id="Nama"
          name="headOfFamilyName"
          class="form-control"
          autocomplete="off"
          required
          value="<%= editedUser.headOfFamilyName %>"
        />
      </div>
    </div>

    <div class="row mb-3">
      <div class="d-flex flex-column gap-3 mb-3">
        <label for="address">Alamat</label>

        <input
          type="text"
          id="address"
          name="address"
          class="form-control"
          autocomplete="off"
          required
          value="<%= editedUser.address %>"
        />
      </div>

      <div class="d-flex flex-column gap-3">
        <label for="pass">Password</label>

        <input
          type="password"
          id="pass"
          name="password"
          class="form-control"
          autocomplete="off"
          required
        />
      </div>
    </div>

    <div class="d-flex justify-content-center align-items-center">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>

<%- include('../partials/typeNumberOnly') %>
