<%- layout('boilerplate/boilerplate') -%>

<div class="container mt-5 pt-5">
  <div class="d-flex flex-column gap-3">
    <div class='d-flex align-items-center justify-content-end gap-2'>
      <form action="/outcome/export" method="post">
        <button class="btn btn-success">Export</button>
      </form>

      <a href="/outcome/add" class="btn btn-success">
        <i class="bi bi-cloud-upload"></i>

        <span>Tambah Pengeluaran</span>
      </a>
  </div>

    <div class="d-flex flex-column">
      <h4>Tabel Pengeluaran</h4>
      <table class="table table-striped table-hover table-bordered">
        <thead class="table-dark">
          <tr>
            <th>No</th>
            <th>Jenis Transaksi</th>
            <th>Tanggal Transaksi</th>
            <th>Nilai Transaksi</th>
            <th class="text-center">Actions</th>
          </tr>
        </thead>
        <tbody>
          <% listOutcome.forEach((outcome, index) => { %>
          <tr>
            <td><%= index + 1 %></td>

            <td><%= outcome.typeOfTransaction %></td>

            <td>
              <% if(outcome && outcome.dateOfTransaction) { %> 
                <%= convertJsDateToFormat(outcome.dateOfTransaction) %> 
              <% } else { %> 
                Tanggal tidak tersedia 
              <% } %>
            </td>

            <td><%= String(formatCurrency(outcome.transactionValue)).replace('Rp', '') %></td>

            <td>
              <div class='row'>
                  <div class='col d-flex justify-content-center align-items-center gap-2'>
                      <a href="/outcome/edit/<%= outcome._id %>" class= 'btn btn-sm btn-warning'>
                          <i class="bi bi-pencil-square"></i>

                          <span>Edit</span>
                      </a>

                      <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteOutcome<%= outcome._id %>">
                          <i class="bi bi-pencil-square"></i>

                          <span>Delete</span>
                      </button>
                  </div>
              </div>

              <div class="modal fade" id="deleteOutcome<%= outcome._id %>" tabindex="-1" aria-labelledby="deleteOutcome" aria-hidden="true">
                  <div class="modal-dialog modal-dialog-centered">
                      <div class="modal-content">
                      <div class="modal-header">
                          <h1 class="modal-title fs-5" id="deleteOutcome"></h1>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                      </div>
                      <div class="modal-body">
                          <p>Apakah anda yakin ingin menghapus transaksi tanggal <% if(outcome && outcome.dateOfTransaction) { %> 
                            <%= convertJsDateToFormat(outcome.dateOfTransaction) %> 
                          <% } else { %> 
                            Tanggal tidak tersedia 
                          <% } %> untuk jenis transaksi <%= outcome.typeOfTransaction %> dari data pengeluaran?</p>
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
              
                          <form action="/outcome/<%= outcome._id %>?_method=DELETE" method="post">
                              <button class="btn btn-danger">Ya, saya yakin</button>
                          </form>
                      </div>
                      </div>
                  </div>
              </div>
            </td>
          </tr>
          <% }) %>
        </tbody>
      </table>
    </div>
  </div>
</div>
