<%- layout('boilerplate/boilerplate') -%>

<div class="container mt-5">
    <div class="d-flex flex-column gap-3">
        <div class='d-flex align-items-center justify-content-end gap-2'>
            <form action="/citizen-fees/export" method="post">
                <button class="btn btn-success">Export</button>
            </form>
            
            <a href='/citizen-fees/add' class= 'btn btn-success'>
                <i class="bi bi-cloud-upload"></i>

                <span>Tambah Iuran</span>
            </a>
        </div>

        <div class="d-flex flex-column">
            <h4>Tabel Iuran</h4>

            <table class="table table-striped table-hover table-bordered">
                <thead class="table-dark">
                    <th>No</th>

                    <th>Nama KK</th>

                    <th>Tanggal Transaksi</th>

                    <th>Nilai Transaksi</th>

                    <th>Pembayaran Bulan</th>

                    <th class="text-center">Actions</th>
                </thead>

                <tbody>
                    <% listFees.forEach((fees, idx) => { %>
                        <tr>
                            <td><%= idx + 1 %></td>
    
                            <td><%= fees.headOfFamilyName %></td>
    
                            <td><%= fees.dateOfTransaction %></td>
    
                            <td><%= fees.transactionValue %></td>
    
                            <td><%= fees.months %></td>
    
                            <td>
                                <div class='row'>
                                    <div class='col d-flex justify-content-center align-items-center gap-2'>
                                        <a href="/citizen-fees/edit/<%= fees.id %>" class= 'btn btn-sm btn-warning'>
                                            <i class="bi bi-pencil-square"></i>
    
                                            <span>Edit</span>
                                        </a>

                                        <button type="button" class="btn btn-sm btn-danger" data-bs-toggle="modal" data-bs-target="#deleteCitizenFees<%= fees.id %>">
                                            <i class="bi bi-pencil-square"></i>

                                            <span>Delete</span>
                                        </button>
                                    </div>
                                </div>

                                <div class="modal fade" id="deleteCitizenFees<%= fees.id %>" tabindex="-1" aria-labelledby="deleteCitizenFeesLabel" aria-hidden="true">
                                    <div class="modal-dialog modal-dialog-centered">
                                      <div class="modal-content">
                                        <div class="modal-header">
                                          <h1 class="modal-title fs-5" id="deleteCitizenFeesLabel"></h1>
                                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">
                                          <p>Apakah anda yakin ingin menghapus transaksi bulan ke <%= fees.months %> dari data warga?</p>
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Tutup</button>
                                
                                            <form action="/citizen-fees/delete/<%= fees.id %>?_method=DELETE" method="post">
                                              <button class="btn btn-danger">Ya, saya yakin</button>
                                            </form>
                                        </div>
                                      </div>
                                    </div>
                                  </div>
                            </td>
                        </tr>
                    <% }); %>
                </tbody>
            </table>

            <div class="d-flex justify-content-center align-items-center">
                <nav aria-label="Page navigation example">
                    <ul class="pagination">
                        <% if (skip > 0) { %>
                            <li class="page-item"><a class="page-link" href="<%= currentUrl %>?skip=<%= Number(skip - limit) %>">Previous</a></li>
                        <% } %>
                        <% if (skip + limit <= totalFees) { %>
                            <li class="page-item"><a class="page-link" href="<%= currentUrl %>?skip=<%= Number(skip + limit) %>">Next</a></li>
                        <% } %>
                        
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</div>
